.card{
    width: 25%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: #000 1px solid;
    box-sizing: border-box;
}

.card img{
    width: 50px;
}

button.card{
    font-size: 60px;
    text-decoration: none;
    color: black;
    background: #fff;
    
    padding: 0;
}