#root{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

section{
    width: 900px;
    display: inline-flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

