body{
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    background: url('./../img/background2.jpg') no-repeat center;
    background-size: cover;
}
.logo{
    position: absolute;
    margin-left: 30px;
    align-self: flex-start;
    width: 400px;
    height: 110px;
    z-index: 1;
}
section{
    z-index: 1;
}
.buscar{
    display: inline-flex;
    justify-content: space-around;
    width: 350px;
    margin: 13px 0;
}

#receberId{
    height: 21px;
    border:1px solid #000;
    border-radius: 7px;
}
#random{
    height: 25px;
    border:1px solid #000;
    border-radius: 7px;
    background: rgb(255, 145, 0);
}

#card{
    width: 350px;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #000;
    border-radius: 30px;
    font-family: 'Press Start 2P', cursive;
}
.bug{
    background: rgb(25, 107, 25);
}
.dark{
    background: rgb(26, 25, 25);
    color: #D6F8D6;
}
.dragon{
    background: #05556d;
}
.electric{
    background: rgb(190, 190, 5);
}
.fairy{
    background: rgb(230, 31, 203);
}
.fighting{
    background: rgb(201, 125, 11);
}
.fire{
    background: rgb(204, 37, 7);
}
.flying{
    background: rgb(114, 147, 148);
}
.grass{
    background: rgb(22, 156, 22);
}
.ground{
    background: rgb(185, 124, 9);
}
.ice{
    background: rgb(87, 230, 222);
}
.ghost{
    background: rgb(169, 72, 199);
}
.normal{
    background: rgb(109, 73, 52);
}
.poison{
    background: rgb(132, 3, 207);
}
.psychic{
    background: rgb(185, 39, 178);
}
.rock{
    background: rgb(121, 76, 50);
}
.steel{
    background: rgb(99, 99, 99);
}
.water{
    background: rgb(35, 19, 177);
}

h3{
    font-size: 10px;
    line-height: 10px;
}
.infos{
    width: 90%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
div{
    width: 80%;
}

.nome{
    width: 90%;
    display: inline-flex;
    justify-content: space-between;
    border: 1px solid #000;
    border-radius: 35px;
    margin: 15px 0;
    background: #020100;
    color: #D6F8D6;
}

#id,#nome{
    font-size:15px;
    line-height: 15px;
    margin: 5px 15px;
}

.img{
    background: #fff;
    height: 210px;
    flex-wrap: wrap;
}
img{
    width: 100%;
    margin-top: -18px
}

img:hover{
    transform: scale(1.3);
}


.corpo{
    display: inline-flex;
    justify-content: space-between;
    border-bottom: #000 solid 1px;
}
div ul{
    margin: 5px;
    padding: 0;
}

.tipos{
    display: inline-flex;
    align-items: center;
}
.tipos ul {
    display: inline-flex; 
}

.tipos li{
    margin: 0 5px;
    list-style-type: none;
    font-size: 7px;
    line-height: 7px;
}

.estatisticas li{
    list-style-type: none;
    padding-top: 5px;
    margin: 8px 0 ;
    display: flex;
    align-items: center;
    background: rgb(154,154,154);
    background: linear-gradient(90deg, rgba(154,154,154,1) 4%, rgba(192,192,192,1) 42%, rgba(192,192,192,0.07326680672268904) 100%);
    transition: background 0.3s ease-in-out 0s;
}
.estatisticas li:hover{
    background: rgb(154,154,154);
    background: linear-gradient(270deg, rgba(154,154,154,1) 4%, rgba(192,192,192,1) 42%, rgba(192,192,192,0.07326680672268904) 100%);
}


.estatisticas p{
    margin: 5px 10px;
    font-size: 8px;
    line-height: 8px;
}