/*banner*/
.banner{
    position: relative;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
    background: url('../img/edimburgo.jpg') no-repeat center bottom / cover;
}

.banner .container{
    height: calc(70vh - 70px);
    position: relative;
    z-index: 2;
}

.banner:before{
    content:'';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.6;
    background: -moz-linear-gradient(-45deg,  rgba(239,233,244,1) 0%, rgba(88,99,248,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(239,233,244,1) 0%,rgba(88,99,248,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(239,233,244,1) 0%,rgba(88,99,248,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}