/* Button */
.button{
    display: inline-block;
    margin:20px;
    padding: 20px 20px;
    border:none;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 16px;
    line-height: 16px;
    color:#fff;
    background: #5FBFF9;
    transition: background 0.2s ease-in-out 0s, tranform 0.2s ease-in-out 0s;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}

.button:hover{
    transform: scale(1.05);
    background: #16BAC5;
}
