.card{
    border-style: solid;
    border-color: #171D1C;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 5px;
    box-sizing: border-box;
    transition: tranform 0.3s ease-in-out 0s;
    margin: 0 10px 40px;
}
.card:hover{
    transform: scale(1.05);
}

article img{
    width: 600px;
}