
.footer{
    padding: 30px 0;
    background: #efefef;
}

.footer a {
    font-size: 12px;
    line-height: 12px;
    color: #666;
}

.footer p{
    margin: 30px 0 0;
    font-size: 11px;
    line-height: 14px;
    color: #999;
}
