/* General*/
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #171D1C;
}

a,
button,
input,
textarea{
    outline: none;
}

a{
    color:#0f7afd;
    text-decoration: none;
}



nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li,
nav a{
    display: inline-block;
}

nav a:not(.logo){
    padding: 10px;
}

.pull-left{
    float: left;
}

.pull-right{
    float: right;
}

.clearfix:before,
.clearfix:after{
    content: '';
    display: table;
    clear: both;
}

h1,
h2,
p{
    margin: 0 0 15px;
}

h1{
    font-size: 45px;
    line-height: 48px;
}

.table, 
.table-cell{
    width: 100%;
    height: 100%;
}

.table{
    display: table;
}

.table-cell{
    display: table-cell;
    vertical-align: middle;
}

.text-center{
    text-align: center;
}

hr{
    clear: both;
    margin: 40px 0;
}