/* Section*/
.container{
    max-width: 980px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left:15px;
    padding-right:15px;
}

section{
    padding-top: 60px;
    padding-bottom: 60px;
}

.row:before,
.row:after{
    content: '';
    display: table;
    clear: both;
}

.row{
    margin: 15px -15px;
    box-sizing: border-box;
}

.col{
    padding: 0 15px;
    float: left;
    box-sizing: border-box;
}

.col-4{
    width: 30%;
}
.col-6{
    width: 50%;
}
.col-12{
    width: 100%;
}
