.center {
    width: 100%;
    display: flex;
    justify-content: center
}

.container {
    width: 70%;
    min-height: 100vh;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.series {
    height: 200px;
    width: 200px;
    box-sizing: border-box;
    text-align: center;
}