.jsmirror {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/background.jpg') no-repeat center;
    background-size: cover;
}

.black-mirror {
    width: 448px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: azure;
}