.home{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.escolha {
    width: 387px;
    height: 476px;
    background: url('./../img/escolha.jpg') center;
    background-size: contain;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    display: block;
    width: 26%;
    height: 5%;
    margin-top: 10%;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

.button1 {
    background: rgb(228, 29, 29);
    margin-right: 10%;
}

.button2 {
    background: rgb(55, 55, 230);
    margin-left: 10%;
}