.nota {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.dar-nota {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.dar-nota span{
    width: 100%;
    text-align: center;
}

.nota p {
    margin: 5px 10px;
}

.nota input {
    appearance: none;
    width: 50%;
    height: 15px;
    outline: none;
    background: #d3d3d3;
}

.nota input::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    outline: none;
    background: #555;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}

.invisible {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.verde, .vermelho{
    display: block;
    height: 20px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
}
.verde {
    border: solid green 1px;
}

.vermelho {
    border: solid red 1px;
}