
input[type=text],input[type=email]{
    width: 100%;
    height: 30px;
}

textarea{
    width: 100%;
    height: 200px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}
label{
    font-size: 20px;
    line-height: 30px;
}
.input-contato{
    border: 2px solid #666;
    border-radius: 4px;
    transition: border 0.2s ease-in-out 0s;
}
.input-contato:focus{
    border-color: #34ae49;
}
.input-contato::placeholder{
    color: #bbb;
    font-size: 17px;
}
.input-contato::-webkit-input-placeholder { /* Edge */
    color: #bbb;
    font-size: 17px;
}
  
.input-contato:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #bbb;
    font-size: 17px;
}


.field{
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 5px 10px;
    margin-bottom: 15px;
    border: 2px solid #666;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea.field{
    min-height: 200px;
    min-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}

.field::-webkit-input-placeholder { /* Edge */
    color: #bbb;
}
  
.field:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #bbb;
}

.field::placeholder {
    color: #bbb;
}

.field:focus{
    border-color: #0f7afd;
}