.App {
  text-align: center;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./img/background.jpg') no-repeat center;
  background-size: cover;
}

.app-header {
  width: 448px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: azure;
}

h4,p{
  margin: 0 5px;
}

.info{
  width: 100%;
  display: inline-flex;
  justify-content: space-between
}

.info p{
  font-size: 20px;
  line-height: 22px;
}

.info button{
  width: 150px;
  height: 30px;
  background: azure;
  border: 1px solid #000;
  border-radius: 3px;
}

.info button:hover{
  background: #ddd;
}

.nota{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.dar-nota{
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.nota p{
  margin: 5px 10px;
}

.nota input{
  appearance: none;
  width: 50%;
  height: 15px;
  outline: none;
  background: #d3d3d3;
}

.nota input::-webkit-slider-thumb{
  appearance: none;
  width: 15px;
  height: 15px;
  outline: none;
  background: #555;
}

.sucesso{
  width: 100%; 
  text-align: center;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
