.header {
    background-color: #010101;
    min-height: 10vh;
    display: flex;
    flex-direction: inline;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .header img{
    width: 150px;
  }