.alemanha{
    flex-direction: column;
    justify-content: flex-start;
}


.linha-alemanha{
    height: 33.33%;
    width: 100%;
}
.linha1-alemanha{
    background: rgb(0, 0, 0);  
}
.linha2-alemanha{
    background: rgb(255, 0, 0);
}
.linha3-alemanha{
    background: rgb(255, 255, 0);
}
