


.linha-finlandia{
    align-self: center;
    background: rgb(0, 68, 255);
    height: 20%;
    width: 100%;
}

.box-finlandia{
    position: absolute;
    justify-self: flex-start;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.coluna-finlandia{
    background: rgb(0, 68, 255);
    height: 100%;
    width: 20%;
}