.grecia{
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.box-grecia{
    padding: 0;
    margin: 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 35%;
    height: 66.66%;
    background: #fff;
}
.bloco-grecia{
    width: 40%;
    height: 33.5%;
    background: rgb(0, 68, 255);
}

.linha-grecia{
    background: rgb(0, 68, 255);
    height: 11.11%;
    width: 100%
}
