.libano{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.linha-libano{
    height: 25%;
    width: 100%;
    background: #f00;
}

.img-libano{
    height: 50%;
    width: 30%;
}