.div-fechar{
    width: 100%;
    height: 90.7%;
    position: absolute;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(148, 182, 132, 0.7);
}

.div-dados{
    padding: 10px;
    min-width: 400px;
    min-height: 400px;
    background: #fff;
    border:solid 1px #000;
    position: absolute;
    align-self: center;
    display: flex;
    flex-direction: column;
}
.div-dados p{
    margin: 5px;
}
.button-fechar{
    display: flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    position: absolute;
    align-self: flex-end;
    cursor: pointer;
    background: #f22;
    border: 1px solid #000;
}

.div-margin{
    margin-left: 20px;
    padding: 5px;
    border-left: solid #000 1px;
}