body {
    margin: 0;
    padding: 0;
}



#root{
    width: 100%;
    height: 100vh;
}

section {
    width: 100%;
    height: 90.7vh;
    display: flex;
    justify-content: center;
    background: #E0F8D4;
}

.container {
    width: 1000px;
    height: auto;
    padding: 30px;
}

h1 {
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px
}
h2{
    margin: 0;
}

a{
    text-decoration: none;
    color:#000;
}

label{
    width: 100%;
    height: 100%;
}