.div-filtros{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}

.div-filtros p {
    margin: 0;
}

.div-filtros input[type="text"]{
    width: 150px;
    height: 30px;
    padding: 0 5px;
    border-radius: 5px;
    border: solid 1px #000
}

.div-itens{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.item{
    width: 350px;
    height: 80px;
    border: 1px solid #666;
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background: #84FF5B;
}

.item p{
    margin:0
}

