.section-login{
    height: 100vh;
    align-items: center;
}

.div-login{
    width:400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #004E72;
    border-radius: 10px;
}

.div-login input[type="text"],.div-login input[type="password"]{
    width: 70%;
    height: 25px;
    border-radius: 10px;
    border:none;
    padding: 0 10px;    
}

.div-login button{
    width: 50%;
    height: 25px;
    border-radius: 10px;
}