header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #000;
    background: rgb(0, 78, 114);
    background: linear-gradient(257deg, rgba(0,78,114,1) 0%, rgba(132,255,91,1) 100%);
}

header ul {
    width: 80%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    padding: 0; 
}

header li {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
    box-sizing: border-box;
    height: 30px;
    text-align: center;
}

header li:hover{
    border: solid #000 1px;
    transform: scale(1.08); 
}

header a{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
